<html xmlns:th="https://www.thymeleaf.org">
<head>
</head>

<body>
    <article>
        파일을 업로드 하여 예측합니다
    </article>



<script>
function myFunction() {
	var formData = new FormData();
	var fileField = document.querySelector('input[type="file"]');

	console.log('myf')
	formData.append('file', fileField.files[0]);

	fetch('upload', {
	method: 'POST',
	body: formData
	})
	.then(response => response.json())
	.catch(error => console.error('Error:', error))
	.then(response => console.log('Success:', JSON.stringify(response)));
}
</script>

	<input type="file" name="file">

	<button onclick="myFunction()">
	jimin
	</button>


</body>

</html>