<html xmlns:th="https://www.thymeleaf.org">
<head>
</head>

<body>
    <article>
        파일을 업로드 하여 예측합니다
    </article>
	<input type="file" name="file">
	<button onclick="myFunction()">jimin</button>

<script>
function myFunction() {
	var formData = new FormData();
	var fileField = document.querySelector('input[type="file"]');

	console.log('myf')
	formData.append('file', fileField.files[0]);

	fetch('upload', {
	method: 'POST',
	body: formData
	})
	.then(function(response){
        response.text().then(function(text){

			document.querySelector('article').innerHTML = '업로드중';
			console.log(text);
			document.querySelector('article').innerHTML = '분석중';

			fetch('predict').then(function(response2){
				response2.text().then(function(text2){

					document.querySelector('article').innerHTML = text2;

				})
			});

        })
    });

}
</script>

</body>

</html>