version: '2'
services:
  # flask:
  #   container_name: flask
  #   build: ./flask
  #   image: "flask:test"
  #   ports:
  #     - "5000:5000"
  #   networks:
  #   - backend
  #   volumes: 
  #     - ./static:/static
    # resources:
    #   limits:
    #     cpus: '0.50'
    #     memory: 2G
    #   reservations:
    #     cpus: '0.25'
    #     memory: 1G


  spring:
    container_name: spring
    build: ./spring-boot
    image: "spring:test"
    ports:
      - 8080:8080
    networks:
    - backend
    volumes: 
      - ./static:/static


  nginx:
    container_name: nginx
    build: ./nginx
    image: "nginx:test"
    ports:
      - "80:80"
    networks:
      - backend
    volumes: 
      - ./static:/static

  # mysql:
  #   container_name: mysql
  #   build: ./mysql
  #   image: "mysql:test"
  #   ports:
  #     - "3306:3306"
  #   networks: 
  #     - backend
  #   volumes: 
  #     - ./static/mysql:/var/lib/mysql

networks:
  backend:
    driver: bridge